/* Orbit */


.orbit-container {
overflow: hidden;
width: 100%;
position: relative;
background: none;
}

.example-orbit li div {
color: white;
background: #171717;
padding: 30px 40px;

}

.orbit-container .orbit-slides-container > * .orbit-caption {
	position: absolute;
	text-align: center;
}

.orbit-container .orbit-slides-container img {
display: block;
max-width: 100%;
}

h1, h2, h3, h4, h5{
	color: #eee;
	text-align: center;
}

body{
	background: #2B2B2B;
}

/*Navigation*/

.tabs dd > a {
	color: #fff ;
	background: #2b2b2b;
}

.tabs dd.active a {
	background: #171717;
}

.tabs dd > a:hover {

background:#333;
}

.fi-widget {

display: inline-block;
text-decoration: inherit;
}


/*Controls*/


