/* Orbit */


.orbit-container {
overflow: hidden;
width: 100%;
position: relative;
background: none;
}

.example-orbit li div {
color: white;
background: #171717;
padding: 30px 40px;

}

.orbit-container .orbit-slides-container > * .orbit-caption {
	position: absolute;
	text-align: center;
}

.orbit-container .orbit-slides-container img {
display: block;
max-width: 100%;
}

h1, h2, h3, h4, h5{
	color: #eee;
	
}

body{
	background: #2B2B2B;
}

/*Navigation*/

.tabs dd > a {
	color: #fff ;
	background: #2b2b2b;
}

.tabs dd.active a {
	background: #171717;
}

.tabs dd > a:hover {

background:#333;
}

.fi-widget {

display: inline-block;
text-decoration: inherit;
}


/*Controls*/

table {
	width: 100%;
	text-align: center;
	background: #2B2B2B;
	border-color: #2B2B2B;
}


table tr td {

padding: 1.5rem;
font-size: 4rem;
color: #eee;
border: none;
background: #2b2b2b;


}

td:active {
	background: white;
	color: black;
}

/*Thumbnails*/

div.panel {
	background-color: #2B2B2B;
}

.panel h3, .panel h5, .panel h6 {
	color: #eee;
	text-align: left;
}

.panel {

	border:none;
}

/*Accordion*/

.accordion .content.active {

	background-color: #2B2B2B;
}

.accordion dd > a{

	background: #67EE64;
	color: black;
}
.accordion dd > a:hover{

	background: #3E8F3C;
	color: black;
}

.accordion dd.active a{
	background: #30C8CF;
}

.top-bar {
	background: #2b2b2b;
	color: black;
}

/*1C9843*/